In [ ]:
import pandas as pd
import tweepy as tw

In [ ]:
my_api_key = "XXXXXXXXXX"
my_api_secret = "XXXXXXXXXX"

auth = tw.OAuthHandler(my_api_key, my_api_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [ ]:
search_query = """ "vaccine passport" OR "vaccine pass" OR "pass sanitaire" OR
                  "sanitary pass" OR "sanitary passport" OR "health pass" OR
                  "covid passport" OR "covid pass" -filter:retweets -filter:media"""
                  
tweets = tw.Cursor(api.search,
              q=search_query,
              lang="en",
              since="2021-05-15").items(900)

tweets_copy = []
for tweet in tweets:
    tweets_copy.append(tweet)
    
print("Total Tweets fetched:", len(tweets_copy))

Total Tweets fetched: 900

In [ ]:
tweets_df = pd.DataFrame()

for tweet in tweets_copy:
    hashtags = []
    try:
        for hashtag in tweet.entities["hashtags"]:
            hashtags.append(hashtag["text"])
        text = api.get_status(id=tweet.id, tweet_mode='extended').full_text
    except:
        pass
    tweets_df = tweets_df.append(pd.DataFrame({'user_name': tweet.user.name, 
                                               'user_location': tweet.user.location,
                                               'user_description': tweet.user.description,
                                               'user_verified': tweet.user.verified,
                                               'date': tweet.created_at,
                                               'text': text, 
                                               'hashtags': [hashtags if hashtags else None],
                                               'source': tweet.source}))
    tweets_df = tweets_df.reset_index(drop=True)


tweets_df.head()

          user_name              user_location  ... hashtags               source
0   Matthew macaree                    glasgow  ...     None  Twitter for Android
1  Roger Village üá®üá©            Currently Paris  ...     None  Twitter for Android
2          Vicky üë∏üèª   Scotland, United Kingdom  ...     None   Twitter for iPhone
3             T-Rez                     S-Town  ...     None  Twitter for Android
4         Tom Ayers  Sydney, Cape Breton, N.S.  ...     None  Twitter for Android

[5 rows x 8 columns]

In [ ]:
tweets_df.tail(5)

           user_name        user_location  ...   hashtags               source
895    Freedom Eagle          Coronatopia  ...       None  Twitter for Android
896           Dsup27                       ...       None   Twitter for iPhone
897      barry Adams                       ...       None      Twitter Web App
898            √âlise  the Diet Coke aisle  ...       None   Twitter for iPhone
899  MetalFace Melly                       ...  [cdnpoli]   Twitter for iPhone

[5 rows x 8 columns]

In [ ]:
tweets_df.to_csv("df10.csv", index=False)